<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width,initial-scale=1"
			name="viewport"
		/>
		<title>VueTween</title>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/@mdi/font@5.3.45/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/vuetify@2.3.2/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js"></script>
		<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
		<script src="https://unpkg.com/@vue/composition-api@0.6.7/dist/vue-composition-api.umd.min.js"></script>
		<script src="./index.js"></script>
		<script src="https://unpkg.com/vuetify@2.3.2/dist/vuetify.min.js"></script>
		<script src="https://unpkg.com/tinycolor2@1.4.1/dist/tinycolor-min.js"></script>
	</head>
	<body>
		<v-app
			v-cloak
			id="app"
		>
			<v-app-bar
				app
				color="primary"
				dark
			>
				<v-toolbar-title>VueTween</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					href="https://github.com/SeregPie/VueTween"
					icon
					target="_blank"
				>
					<v-icon>mdi-github</v-icon>
				</v-btn>
			</v-app-bar>
			<v-main>
				<v-container
					fill-height
					justify-center
				>
					<div
						style="
							display: grid;
							gap: 16px;
							max-width: 300px;
							width: 100%;
						"
					>
						<div
							v-for="item of colorItems"
							:key="item.key"
						>
							<div
								style="
									align-items: center;
									display: flex;
									justify-content: space-between;
								"
							>
								<v-input
									:label="item.label"
									hide-details
								></v-input>
								<v-chip
									:color="item.color"
									small
									text-color="white"
								>{{ colorObject[item.key] }}</v-chip>
							</div>
							<v-slider
								v-model="colorObject[item.key]"
								:color="item.color"
								:max="255"
								:min="0"
								hide-details
								track-color="grey"
							></v-slider>
						</div>
						<div
							:style="{backgroundColor: animatedColor}"
							style="
								align-items: center;
								display: flex;
								height: 100px;
								justify-content: center;
							"
						>
							<v-chip
								color="black"
								label
								style="font-family: monospace;"
								text-color="white"
							>{{ animatedColor }}</v-chip>
						</div>
						<v-radio-group
							v-model="durationIndex"
							label="duration"
							row
							class="ma-0 pa-0"
						>
							<v-radio
								v-for="(label, index) of durationLabels"
								:key="index"
								:label="label"
								:value="index"

							></v-radio>
						</v-radio-group>
					</div>
				</v-container>
			</v-main>
		</v-app>
		<script src="./demo/script.js"></script>
	</body>
</html>
