<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width,initial-scale=1"
			name="viewport"
		/>
		<title>VueTween</title>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Roboto+Mono"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/@mdi/font@5/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/vuetify@2/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/core-js-bundle@3/minified.js"></script>
		<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/@vue/composition-api"></script>
		<script src="./index.js"></script>
		<script src="https://unpkg.com/vuetify@2/dist/vuetify.min.js"></script>
		<script src="https://unpkg.com/chroma-js@2"></script>
	</head>
	<body>
		<v-app
			v-cloak
			id="app"
		>
			<v-app-bar
				app
				color="primary"
				dark
			>
				<v-toolbar-title>VueTween</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					href="https://github.com/SeregPie/VueTween"
					icon
					target="_blank"
				>
					<v-icon>mdi-github</v-icon>
				</v-btn>
				<template v-slot:extension>
					<v-tabs
						v-model="exampleIndex"
						center-active
						centered
						show-arrows
					>
						<v-tab
							v-for="({name}, i) of exampleItems"
							:key="i"
						>{{ name }}</v-tab>
					</v-tabs>
				</template>
			</v-app-bar>
			<v-main>
				<v-tabs-items
					v-model="exampleIndex"
					style="height: 100%"
				>
					<v-tab-item
						v-for="({component}, i) of exampleItems"
						:key="i"
						style="height: 100%"
					>
						<div
							class="pa-4"
							style="
								align-items: center;
								display: flex;
								justify-content: center;
								height: 100%;
							"
						>
							<component :is="component"></component>
						</div>
					</v-tab-item>
				</v-tabs-items>
			</v-main>
		</v-app>
		<template id="MyExample1">
			<div
				style="
					align-items: center;
					display: flex;
					gap: 32px;
					justify-content: space-between;
					max-width: 256px;
					width: 100%;
				"
			>
				<v-btn
					color="primary"
					icon
					x-large
					@click="decCount()"
				>
					<v-icon>mdi-minus</v-icon>
				</v-btn>
				<div
					style="
						font-size: 200%;
						font-weight: 200;
					"
				>{{ countAnimatedFormatted }}</div>
				<v-btn
					color="primary"
					icon
					x-large
					@click="incCount()"
				>
					<v-icon>mdi-plus</v-icon>
				</v-btn>
			</div>
		</template>
		<template id="MyExample2">
			<div
				style="
					display: grid;
					gap: 32px;
					max-width: 256px;
					width: 100%;
				"
			>
				<v-sheet
					:color="colorAnimatedFormatted"
					:elevation="2"
					rounded
					style="
						align-items: center;
						display: flex;
						height: 128px;
						justify-content: center;
					"
				>
					<v-chip
						color="black"
						label
						style="font-family: Roboto Mono;"
						text-color="white"
					>{{ colorAnimatedFormatted }}</v-chip>
				</v-sheet>
				<div>
					<v-slider
						v-for="(v, k) of {r: '#ff0000', g: '#00ff00', b: '#0000ff'}"
						:key="k"
						v-model="color[k]"
						:color="v"
						:max="255"
						:min="0"
						hide-details
						track-color="black"
					></v-slider>
				</div>
			</div>
		</template>
		<template id="MyExample3">
			<v-sheet
				color="deep-purple accent-1"
				rounded
				style="
					cursor: pointer;
					height: 100%;
					max-height: 512px;
					max-width: 512px;
					position: relative;
					user-select: none;
					width: 100%;
				"
				@click="onClickToSetPosition"
			>
				<div
					style="
						bottom: 16px;
						left: 16px;
						pointer-events: none;
						position: absolute;
						right: 16px;
						top: 16px;
					"
				>
					<div
						:style="{
							left: `${positionAnimated[0] * 100}%`,
							top: `${positionAnimated[1] * 100}%`,
						}"
						style="
								font-size: 32px;
								position: absolute;
								transform: translate(-50%, -50%);
							"
					>🛸</div>
				</div>
			</v-sheet>
		</template>
		<script src="./demo/script.js"></script>
	</body>
</html>
